<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="footer">
			<div class="errorFooter">
				<a href="/" class="button" th:text="#{footer.return.to.home.page}"></a>
			</div>
		</div>
	</body>
</html>