<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="mainMenu">
			<div class="topnav">
		      <h1 th:text="#{header.main.menu.heading.1}"></h1>
		      <a href="/" th:text="#{header.main.menu.link.home}"></a>
		      <a href="login-form.html" th:text="#{header.main.menu.link.login}"></a>
		      <a href="register-form.html" th:text="#{header.main.menu.link.register}"></a>
		      <a href="lottery-form.html" th:text="#{header.main.menu.link.lottery}"></a>
	    	</div>
		</div>
		<div th:fragment="loggedInMenu">	
			<div class="topnav">
			<div class="userInfo">
					<span th:text="#{header.logged.in.menu.logged.in.as}"></span><span th:text="${loggedInUser.fullName}"></span>
			    	<span th:text="#{header.logged.in.menu.opening.parenthesis}"></span>
			    	<span th:text="${loggedInUser.emailAddress}"></span>
			    	<span th:text="#{header.logged.in.menu.closing.parenthesis}"></span>
			</div>
				  <h1 th:text="#{header.main.menu.heading.1}"></h1>
			      <a href="/" th:text="#{header.main.menu.link.home}"></a>
			      <a href="lottery-form.html" th:text="#{header.main.menu.link.lottery}"></a>
			      <a href="logout.html" th:text="#{header.logged.in.menu.logout}"></a>
			</div>	
		</div>
		<div th:fragment="menu">
			<div class="menu">
				<span th:text="#{header.menu.span}"></span>
				<a href="/" class="button" th:text="#{header.menu.link.home}"></a>
				<hr>
			</div>
		</div>
	</body>
</html>