<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title th:text="#{error.404.title}"></title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" href="../static/css/main.css"/>
	</head>
	<body>
		<div class="error">
			<h1 th:text="#{error.404.heading.1}"></h1>
			<h2 th:text="#{error.heading.2}"></h2>
		</div>
		<div th:replace="fragments/footer :: footer" ></div>
	</body>
</html>