.loginRegister {
	width: 12%;
	margin: 20px auto 20px auto;
	padding: 20px 20px;
	border: 1px yellow solid;
	background-color: #114b3a;
	color: yellow;
	text-align: center;
}

h1 {
	text-align: center;
	color: yellow;
}

form input[type=submit] {
	background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form input[type=submit]:disabled {
	background-color: gray;
}

form input[type=password], input[type=email], input[type=text] {
	padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}