/* COLOURS:

MAIN:

Background: #173859
div background: #114b3a
div border: #e8cd11

*/

/*BODY*/

body {
  background-color: #173859;
  color: yellow;
}

.recentNumbers, .topnav, .loginRegister, .lotteryInput, .result {
	box-shadow: 5px 5px #e8cd11;
	border-radius: 4px;
}

/*TOPNAV*/

.topnav {
  overflow: hidden;
  background-color: #173859;
  width: 40%;
  margin: 0 auto;
  border: 1px solid yellow;
  text-align: center;
}

.topnav a {
  float: left;
  color: yellow;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #0c457d;
  color: yellow;
}

/*USER INFO*/

.userInfo {
	padding: 14px 16px;
	text-align: center;
	font-size: 18px;
}

/*RECENT NUMBERS*/

.recentNumbers {
  width: 40%;
  text-align: center;
  background-color: #114b3a;
  height: 50%; 
  margin: 0 auto;
  border: 1px solid #e8cd11;
}

table {
	margin: 0 auto;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	font-family: Helvetica, Arial, sans-serif;
}

td {
	border-bottom: 1px solid yellow;
    border-top: 1px solid yellow;
}

th {
	font-weight: bold;
	border: 1px solid yellow;
}

/*BUTTONS*/

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    box-sizing: border-box;
    transition-duration: 0.4s;
}

.button:hover {
	background-color: #114b3a;
	color: #e8cd11;
	border: 1px solid yellow;
}

/*Error pages*/

.error {
	background-color: green;
	border: 1px solid yellow;
	color: red;
	margin: 0 auto;
	width: 50%;
	text-align: center;
}

/* FRAGMENT: MENU*/

.menu {
	margin: 0 auto;
	color: yellow;
	text-align: center;
}

/*hr*/

hr {
	border-color: #e8cd11;
}

/*field/form error messages*/

.fieldErrorMessage, .formErrorMessage {
	color: red;
	text-align: center;
	font-weight: bold;
}

/*FOOTER FRAGMENT*/

.errorFooter {
	margin: 0 auto;
	text-align: center;
}