<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title th:text="#{app.title}"></title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" href="../static/css/main.css"/>
	</head>
	<body>
    <div th:if="${loggedInUser == null}">
    	<div th:replace="fragments/header :: mainMenu"></div>
    </div>
    <div th:if="${loggedInUser != null}">
    	<div th:replace="fragments/header :: loggedInMenu"></div>
    </div>
    <br>
    <div class="recentNumbers">
       <h1 th:text="#{index.page.prize}"></h1>
       <hr>
       <h2 th:text="#{index.page.recent.numbers}"></h2>
       <h4 th:text="#{index.page.past.few.weeks}"></h4>
       <table>
       	<tr>
       		<th th:text="#{index.page.table.header.1}"></th>
       		<th th:text="#{index.page.table.header.2}"></th>
       		<th th:text="#{index.page.table.header.3}"></th>
       		<th th:text="#{index.page.table.header.4}"></th>
       		<th th:text="#{index.page.table.header.5}"></th>
       	</tr>
       	<tr th:each="lottery : ${recentLotteryNumbers}">
       		<td th:text="${lottery.firstNumber}"></td>
       		<td th:text="${lottery.secondNumber}"></td>
       		<td th:text="${lottery.thirdNumber}"></td>
       		<td th:text="${lottery.fourthNumber}"></td>
       		<td th:text="${lottery.fifthNumber}"></td>
       	</tr>
       </table>
    </div>
	</body>
</html>