<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title th:text="#{login.title}"></title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" href="../static/css/main.css"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/login-register.css}" href="../static/css/login-register.css"/>
	</head>
	<body>
		<div th:replace="fragments/header :: menu" ></div>
		<h1 th:text="#{login.heading.1}"></h1>
		<div class="formErrorMessage" th:if="${#fields.hasErrors('${loginForm}')}" th:errors="${loginForm}"></div>
		<div class="loginRegister">
			<form method="post" th:action="@{/login}" action="/login" th:object="${loginForm}">
			
				<label for="emailAddress" th:text="#{login.form.email.address}"></label><br>
				<div class="fieldErrorMessage" th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}">Field error</div>
				<input type="email" id="emailAddress" th:field="*{emailAddress}" placeholder="Enter your E-mail"></input><br>
				
				<label for="password" th:text="#{login.form.password}"></label><br>
				<div class="fieldErrorMessage" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Field error</div>
				<input type="password" id="password" th:field="*{password}" placeholder="Enter your password"></input><br>
				
				<br>
				<input type="submit" class="button" th:value="#{login.form.button}">
			</form>
			<hr>
<!-- 			<a href="#" class="button">Login with Google</a> -->
			<a href="/register-form.html" class="button" th:text="#{login.register.button}"></a>			
		</div>
	</body>
</html>