<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title th:text="#{lottery.title}"></title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" href="../static/css/main.css"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/lottery.css}" href="../static/css/lottery.css"/>
	</head>
	<body>
	<div th:replace="fragments/header :: menu" /></div>
		<h1 th:text="#{lottery.heading1}"></h1>
	<div class="formErrorMessage" th:if="${#fields.hasErrors('${lotteryForm}')}" th:errors="${lotteryForm}"></div>
    <div class="lotteryInput">
      <form method="post" th:action="@{/lottery}" action="/lottery" th:object="${lotteryForm}">
      	
      	<label for="firstNumber" th:text="#{lottery.form.first.number}"></label>
		<div class="fieldErrorMessage" th:if="${#fields.hasErrors('firstNumber')}" th:errors="*{firstNumber}">Field error</div>
        <input type="text" id="firstNumber" th:field="*{firstNumber}" size="1" maxlength="2"/>
        
        <label for="secondNumber" th:text="#{lottery.form.second.number}"></label>
        <div class="fieldErrorMessage" th:if="${#fields.hasErrors('secondNumber')}" th:errors="*{secondNumber}">Field error</div>
        <input type="text" id="secondNumber" th:field="*{secondNumber}" size="1" maxlength="2"/>
        
        <label for="thirdNumber" th:text="#{lottery.form.third.number}"></label>
        <div class="fieldErrorMessage" th:if="${#fields.hasErrors('thirdNumber')}" th:errors="*{thirdNumber}">Field error</div>
        <input type="text" id="thirdNumber" th:field="*{thirdNumber}" size="1" maxlength="2"/>
        
        <label for="fourthNumber" th:text="#{lottery.form.fourth.number}"></label>
        <div class="fieldErrorMessage" th:if="${#fields.hasErrors('fourthNumber')}" th:errors="*{fourthNumber}">Field error</div>
        <input type="text" id="fourthNumber" th:field="*{fourthNumber}" size="1" maxlength="2"/>
        
        <label for="fifthNumber" th:text="#{lottery.form.fifth.number}"></label>
        <div class="fieldErrorMessage" th:if="${#fields.hasErrors('fifthNumber')}" th:errors="*{fifthNumber}">Field error</div>
        <input type="text" id="fifthNumber" th:field="*{fifthNumber}" size="1" maxlength="2"/>

        <input type="submit" class="button" th:value="#{lottery.form.button}"/>
        
      </form>
    </div>
	</body>
</html>