<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title th:text="#{result.title}"></title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" href="../static/css/main.css"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/result.css}" href="../static/css/result.css"/>
	</head>
	<body>
	<div th:replace="fragments/header :: menu"></div>
	<br>
		<div class="result">
			<h1 th:text="#{result.heading.1}"></h1>
			<h2 th:if="${#bools.isTrue(haveTheUserWon)}" th:text="#{result.heading.2.winner}"></h2>
			<h2 th:if="${#bools.isFalse(haveTheUserWon)}" th:text="#{result.heading.2.loser}"></h2>
			<h3 th:text="#{result.heading.3}"></h3>
			<h4 th:text="#{result.heading.4}"></h4>
			<table>
				<tr>
		       		<th th:text="#{result.table.first.number}"></th>
		       		<th th:text="#{result.table.second.number}"></th>
		       		<th th:text="#{result.table.third.number}"></th>
		       		<th th:text="#{result.table.fourth.number}"></th>
		       		<th th:text="#{result.table.fifth.number}"></th>
	       		</tr>
				<tr th:each="lottery : ${thisWeeksNumbers}">
		       		<td th:text="${lottery.firstNumber}"></td>
		       		<td th:text="${lottery.secondNumber}"></td>
		       		<td th:text="${lottery.thirdNumber}"></td>
		       		<td th:text="${lottery.fourthNumber}"></td>
		       		<td th:text="${lottery.fifthNumber}"></td>
	       		</tr>
	       		<tr th:each="lottery : ${enteredLotteryNumbers}">
		       		<td th:text="${lottery.firstNumber}"></td>
		       		<td th:text="${lottery.secondNumber}"></td>
		       		<td th:text="${lottery.thirdNumber}"></td>
		       		<td th:text="${lottery.fourthNumber}"></td>
		       		<td th:text="${lottery.fifthNumber}"></td>
	       		</tr>
			</table>
			<br>
			<a href="lottery-form.html" class="button" th:text="#{result.query.button}"></a>
		</div>
	</body>
</html>